[submodule "bs-lacardeuse-erp-odoo"]
	path = bs-lacardeuse-erp-odoo
	url = https://github.com/nybblegroup/bs-lacardeuse-erp-odoo
	branch = dev

[submodule "nybblegroup/bs-lacardeuse-erp-odoo"]
	path = nybblegroup/bs-lacardeuse-erp-odoo
	url = git@github.com:nybblegroup/bs-lacardeuse-erp-odoo.git
	branch = dev
